body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

html{
    background-color: #333536;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");

    font-family: "Roboto", "Open Sans", Helvetica, Arial, sans-serif;
}

header {
    height: 50px;
    align-items: center;
    background-color: #666666;
}

nav {
    width: 660px;
    margin: 0 auto;
    padding: 10px 0px;
}

.menu-item {
    font-size: 20px;
    padding-right: 20px;
    color: #BABDB6;
}


hr {
    color: #2B2B2B;
}

a {
    text-decoration: none;
    color: #5786BE;
}

a:hover {
    text-decoration: none;
    color: #9C9C9C;
}

#content {
    width: 1200px;
    margin: 0px auto 30px auto;
    margin-top: 30px;
    padding: 10px 40px;
    border: 1px solid;
    border-radius: 30px;
    
    background-color: #D3D3D3;
}

h1, h2 {
    text-align: center;
}

form {
    width: 277px;
    margin: 0 auto 30px auto;
}

input[type="submit"], #save_button {
    height: 40px;
    width: 175px;
    color: #E3E3E3;
    background-color: #424242;
    border-color: #424242;
    border-radius: 5px;
    padding: 5px;
    border: 0px solid;
    margin: 0 auto;
    display: block;
}


table, tr, td {
    font-size: 11px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 3px solid black;

}

tr {
    text-align: center;
}

thead {
    background-color: #454545;
    color: white;
}

td {
    padding: 6px 3px;
    /*background-color: #2F2F2F;*/
}

#subject_score {
    width: 144px;
}

#register-suggestion {
    width: 200px;
    margin: 0px auto;
}